/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root{
  --inter-font: 'Inter-Variable', sans-serif;
  --start-font: 'PressStart2P', fantasy;
  --card-title-font-w: 715;
  --card-text-font-w: 410;
  --page-bg: repeating-linear-gradient(to right, rgb(211 211 211), rgb(211 211 211/ 0%) 2px),
  repeating-linear-gradient(to bottom, rgb(211 211 211), rgb(211 211 211/ 0%) 2px), 
  repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --block-size: clamp(375px, 100vw, 700px);
  --bg-color: #fff;
  --text-stroke-color: 1px #fff;
  --button-text-color: #fff;
  --accent-color: #000;
  --heart-count: #000;
  --sparks-color: #FF0000;
 }
